@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de contraseña perdida";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revisa tu correo electronico para confirmar la contraseña perdida.
</p>
