@page
@model LockoutModel
@{
    ViewData["Title"] = "Usuario bloqueado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta fue bloqueada, por favor intente de nuevo más tarde</p>
</header>
