@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de Registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Esta app no tiene un correo real remitente registrado mira <a href="https://aka.ms/aspaccountconf">estos documentos</a> sobre como registrar un correo remitente.
    Normalmente esto podria ser enviado <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click aqui para confirmar tu cuenta</a>
</p>
    }
    else
    {
<p>
      Por favor revisa tu correo electronico para confirmar tu cuenta.
</p>
    }
}

