@model Employee

<div class= "container   box-shadow p-5" >
	<div>

		<h2>Eliminar empleado</h2>
	</div>
 


	<form method="post"  asp-controller="Employees" asp-action = "Delete">
		@*<div asp-validation-summary="All"> </div>*@

		<input asp-for =Id hidden />

		<div class= "form-row">
			<div class="form-grup col-md-6"> 
				<label asp-for="Name">Nombre del empleado:</label>
				<input type="text" class="form-control mb-3 " asp-for="Name" disabled />
				@*<span asp-validation-for="Name" class="alert-danger"></span>*@
			</div>

			
			<div class="form-grup col-md-6"> 
				<label asp-for="Designation">Cargo del empleado:</label>
				<input type="text" class="form-control mb-3 " asp-for="Designation" disabled />
				@*<span asp-validation-for="Designation" class="alert-danger"></span>*@
			</div>

			
			<div class="form-grup col-md-6"> 
				<label asp-for="Address">Dirección</label>
				<input type="text" class="form-control mb-3 " asp-for="Address" disabled/>
			@*	<span asp-validation-for="Address" class="alert-danger"></span>*@
			</div>

			<div class="form-grup col-md-6"> 
				<label asp-for="RecordCreation">Fecha de Creacion</label>
				<input type="datetime-local" class="form-control mb-3 " asp-for="RecordCreation" disabled />
			@*	<span asp-validation-for="RecordCreation" class="alert-danger"></span>*@
			</div>


			<div class="form-grup col-md-6"> 
				<label asp-for="RecordUpdateOn">Fecha de Modificacion</label>
				<input type="datetime-local" class="form-control mb-3 " asp-for="RecordUpdateOn" disabled />
			@*	<span asp-validation-for="RecordCreation" class="alert-danger"></span>*@
			</div>


		</div>

		<button type="submit" class="btn btn-primary btn-lg p-2">

			<i class="bi bi-file-plus-fill"></i>
			Eliminar
		</button>

		<a asp-controller="Employees" asp-action="Index" class="btn btn-lg btn-warning p-2 "> Regresar </a>
	</form>
</div>

@section Scripts{

	@{
		<partial name="_ValidationScriptsPartial"/>
	}


}